body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #CC5656;
}

button{
    display: flex;
    color: white;
    background-color: #5D9971;
    padding: 16px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: white solid;
}

a {
    text-decoration: none;
    color: white;
}

.header{
    background-color:  #7A435F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBtn {
    margin: 32px 16px;
    font-size: 24px;
    max-width: 33%;
    align-self: flex-start;

}

.actualContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex:1;
}

.container{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 960px;
    height: 960px;
    background-color: white;

} 

.buttons{
    display: flex;
    flex-direction: column;
    gap: 54px;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #7A435F;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    padding: 8px;
    margin-top: auto;
    gap: 8px;
}


